extends layout

block content
    h2.page-header
      = category.name +'分类下所有文章\b'+'      '+'共有' + posts.length + '篇'
    each post in posts
      div.post
        h3.post-title
          a(href="/posts/view/" + post.id,target="_blank")
              =post.title
        div.post-abstract
            =truncate(post.content,160)
        div.post-meta
            span.post-created
                时间:&nbsp
                =moment(post.created).format('YYYY-MM-DD')
            span.post-anthor
                作者:&nbsp
                =post.anthor.name
            span.post-category
                分类:&nbsp
                a(href="/posts/category/" +post.category.name,target="_blank")
                  =post.category.name
            span.post-comment
                评论:&nbsp
                =post.comments.length || 0
            span.post-favorite
                被赞:&nbsp
                =post.meta.favorite || 0
            span.post-category
                a(href="/posts/view/" + post.id,target="_blank") 查看全文
